:root {
    font-style: 16;
}

/*================== CSS reset =================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

/*================== body =================*/
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

/*================== menu container =================*/
.menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > h1 {
    flex: 0.5;
    font-size: 4rem;

    display: flex;
    align-items: center;
}

.menu > div:nth-child(2) {
    flex: 1;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.menu > div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu > div:nth-child(2) button {
    width: 100%;
}

.menu > div:nth-child(2) img {
    width: max(100px, 60%);
}

.menu > div:nth-child(2) label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > div:nth-child(2) label input {
    margin-top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    font-style: italic;
}

.menu input:focus,
input:focus {
    outline: none;
}

.menu > div:last-child {
    flex: 0.5;
    display: flex;
    align-items: center;
}

.menu > div:last-child button {
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
}

.vs {
    font-size: 3rem;
    padding: 0 1rem 0 1rem;
}

@media only screen and (max-width: 600px) {
    .vs {
        font-size: 2rem;
        padding: 0 0.5rem 0 0.5rem;
    }
}
/*================== main container =================*/
.gameboard {
    display: flex;
    flex-direction: column;
}

.gameboard > div:nth-child(1) {
    height: 15vh;
    text-align: center;
}

.gameboard > div:nth-child(2) {
    height: 65vh;

    display: flex;
    justify-content: center;
}

.gameboard > div:nth-child(3) {
    height: 10vh;
    text-align: center;
}

/*================== score board =================*/
.gameboard > div:nth-child(1) > div {
    display: flex;
}

.gameboard > div:nth-child(1) > div div {
    flex: 1;
}

/*================== game board =================*/
.game {
    aspect-ratio: 1 / 1;
    height: 100%;
    border: 2px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/*================== tiles =================*/
.tile {
    border: 1px solid gray;
}

.taken {
    pointer-events: none;
}
/*================== footer =================*/

.disable {
    display: none;
}
