@font-face {
    font-family: 'pixel';
    src: url('assets/PKMN RBYGSC.ttf') format('truetype');
}

:root {
    font-style: 16;
    --purple1: #190739;
    --purple2: #100228;
    --pink1: #dc4af3;
    --green1: #86fa93;
    --blue1: #66c1f2;
    --white1: whitesmoke;
    --white2: #e9fdff;
    --black1: #02010f;
}

/*================== CSS reset =================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

/*================== body =================*/
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

/*================== menu container =================*/
.menu {
    height: 100%;
    background-color: var(--purple2);
    font-family: 'pixel', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > h1 {
    flex: 0.5;
    font-size: 3.5rem;
    font-weight: 100;
    color: var(--white1);

    display: flex;
    align-items: center;
    text-align: center;
}

.menu > div:nth-child(2) {
    flex: 1;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.menu > div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu > div:nth-child(2) button {
    width: 100%;
}

.menu > div:nth-child(2) img {
    width: max(100px, 60%);
}

.menu > div:nth-child(2) label {
    color: var(--green1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > div:nth-child(2) label input {
    font-size: 1rem;
    font-family: 'pixel', sans-serif;
    font-style: italic;
    text-align: center;
    color: var(--pink1);
    background-color: transparent;

    width: 100%;
    margin-top: 1rem;
    border: none;
    border-bottom: 2px solid rgba(233, 253, 255, 0.2);
}

.menu input:focus,
input:focus {
    outline: none;
}

.menu > div:last-child {
    flex: 0.5;
    display: flex;
    align-items: center;
}

.menu > div:last-child button {
    font-size: 1rem;
    font-family: 'pixel', sans-serif;
    color: var(--blue1);
    background-color: var(--black1);
    border: 4px double;
    transition: 0.1s;
    border-radius: 5px;

    width: 150px;
    height: 55px;
}

.menu > div:last-child button:hover {
    color: var(--white1);
    background-color: var(--purple2);

    border-top-color: var(--green1);
    border-left-color: var(--green1);
    border-right-color: var(--pink1);
    border-bottom-color: var(--pink1);
}

.vs {
    font-size: 3rem;
    color: var(--blue1);
    padding: 0 1rem 0 1rem;
}

@media only screen and (max-width: 600px) {
    .vs {
        font-size: 2rem;
        padding: 0 0.5rem 0 0.5rem;
    }

    .menu > div:nth-child(2) label input {
        width: 100%;
        font-size: 1rem;
    }
}
/*================== main container =================*/
.gameboard {
    display: flex;
    flex-direction: column;
}

.gameboard > div:nth-child(1) {
    height: 15vh;
    text-align: center;
}

.gameboard > div:nth-child(2) {
    height: 65vh;

    display: flex;
    justify-content: center;
}

.gameboard > div:nth-child(3) {
    height: 10vh;
    text-align: center;
}

/*================== score board =================*/
.gameboard > div:nth-child(1) > div {
    display: flex;
}

.gameboard > div:nth-child(1) > div div {
    flex: 1;
}

/*================== game board =================*/
.game {
    aspect-ratio: 1 / 1;
    height: 100%;
    border: 2px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/*================== tiles =================*/
.tile {
    border: 1px solid gray;
}

.taken {
    pointer-events: none;
}
/*================== footer =================*/

.disable {
    display: none;
}
