@font-face {
    font-family: 'pixel';
    src: url('assets/PKMN RBYGSC.ttf') format('truetype');
}

:root {
    font-style: 16;
    --purple1: #190739;
    --purple2: #100228;
    --pink1: #dc4af3;
    --green1: #86fa93;
    --blue1: #66c1f2;
    --white1: whitesmoke;
    --white2: #e9fdff;
    --black1: #02010f;
}

/*================== CSS reset =================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /*   outline: 1px solid red; */
}

/*================== body =================*/
body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

/*================== menu container =================*/
.menu {
    height: 100%;
    background-color: var(--purple2);
    font-family: 'pixel', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > h1 {
    flex: 0.5;
    font-size: 3.5rem;
    font-weight: 100;
    color: var(--white1);

    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.1s ease-out;

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 0px rgba(220, 74, 243, 1),
        4px 4px 0px rgba(134, 250, 147, 1), 0px 0px 10px rgba(0, 0, 0, 1);
}

.menu > h1:hover {
    text-shadow: 4px 4px 0px rgba(220, 74, 243, 1),
        6px 6px 0px rgba(134, 250, 147, 1), 0px 0px 10px rgba(0, 0, 0, 1);
}

.menu > div:nth-child(2) {
    flex: 1;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.menu > div:nth-child(2) div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-sign {
    aspect-ratio: 1 / 1;
    height: 50%;
    font-size: 7rem;
    padding-left: 1rem;
    font-family: 'pixel', sans-serif;

    align-self: center;

    background-color: var(--purple1);
    transition: 0.2s;
    box-shadow: 1px 1px 11px 4px rgba(102, 193, 242, 1);
    -webkit-box-shadow: 1px 1px 11px 4px rgba(102, 193, 242, 1);
    -moz-box-shadow: 1px 1px 11px 4px rgba(102, 193, 242, 1);
}

.menu-sign:hover {
    background-color: var(--purple2);
    box-shadow: 1px 1px 21px 4px rgba(102, 193, 242, 1);
    -webkit-box-shadow: 1px 1px 21px 4px rgba(102, 193, 242, 1);
    -moz-box-shadow: 1px 1px 21px 4px rgba(102, 193, 242, 1);
}

.x-sign {
    color: var(--pink1);
}

.o-sign {
    color: var(--green1);
}

.menu > div:nth-child(2) img {
    width: max(100px, 60%);
}

.menu > div:nth-child(2) label {
    color: var(--green1);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > div:nth-child(2) label input {
    font-size: 1rem;
    font-family: 'pixel', sans-serif;
    font-style: italic;
    text-align: center;
    color: var(--pink1);
    background-color: transparent;

    width: 100%;
    margin-top: 1rem;
    border: none;
    border-bottom: 2px solid rgba(233, 253, 255, 0.2);
}

.menu input:focus,
input:focus {
    outline: none;
}

.menu > div:last-child {
    flex: 0.5;
    display: flex;
    align-items: center;
}

.menu > div:last-child button {
    font-size: 1rem;
    font-family: 'pixel', sans-serif;
    color: var(--blue1);
    background-color: var(--black1);
    border: 4px double;
    transition: 0.1s;
    border-radius: 5px;

    width: 150px;
    height: 55px;
}

.menu > div:last-child button:hover {
    color: var(--white1);
    background-color: var(--purple2);

    border-top-color: var(--green1);
    border-left-color: var(--green1);
    border-right-color: var(--pink1);
    border-bottom-color: var(--pink1);
}

.vs {
    height: 100px;
    align-self: center;
    font-size: 3rem;
    color: var(--blue1);
    padding: 0 1rem 0 1.5rem;
}

.vs:hover {
    text-shadow: 0px 0px 5px var(--blue1);
}

@media only screen and (max-width: 600px) {
    .vs {
        font-size: 2rem;
        padding: 0 0.5rem 0 0.5rem;
    }

    .menu > div:nth-child(2) label input {
        width: 100%;
        font-size: 1rem;
    }
}
/*================== Gameboard container =================*/
.gameboard {
    color: var(--white1);
    font-family: 'pixel', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    background-color: var(--purple2);
    height: 100%;

    display: grid;
    grid-template-areas: 'a e' 'b e' 'c e' 'd e';
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.2fr;
}

.gameboard > div:nth-child(1) {
    grid-area: a;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard > div:nth-child(2) {
    grid-area: b;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard > div:nth-child(3) {
    grid-area: c;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard > div:nth-child(4) {
    grid-area: d;

    display: flex;
    align-items: center;

    justify-content: space-evenly;
}

.gameboard > div:nth-child(5) {
    grid-area: e;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*======= h2 =======*/
.gameboard h1 {
    margin-top: 2rem;
}

/*================== turn =================*/
.turn {
    color: var(--white1);
    background-color: var(--black1);

    width: 70%;
    height: 80%;
    border-radius: 20px;
    border-right: var(--blue1) 7px solid;
    border-left: var(--blue1) 7px solid;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*================== score board =================*/
.scoreboard {
    background-color: var(--black1);
    padding: 0 7% 0 7%;
    width: 70%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.scoreboard > h2 {
    align-self: center;
    color: var(--green1);
    margin-bottom: 1rem;
}

.scoreboard .name {
    color: var(--pink1);
}

.scoreboard .score {
    color: var(--green1);
}

/*================== buttons =================*/
.buttons-cont button {
    aspect-ratio: 1.5 / 1;
    height: 3rem;
    background-color: transparent;
}

.buttons-cont button img {
    height: 100%;
}

.buttons-cont .restart > img {
    filter: invert(100%) sepia(2%) saturate(13%) hue-rotate(111deg)
        brightness(114%) contrast(92%);
}

.buttons-cont .reset > img {
    filter: invert(78%) sepia(12%) saturate(5362%) hue-rotate(172deg)
        brightness(101%) contrast(90%);
}
/*================== game board =================*/
.game {
    height: 80%;
    aspect-ratio: 1 / 1;
    background-color: var(--blue1);
    box-shadow: 0px 0px 15px 1px var(--blue1);
    padding: 0.6rem;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}
/*======= tiles =======*/
.tile {
    background-color: var(--purple1);
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7rem;
    padding-left: 1rem;
}

.taken {
    pointer-events: none;
}

/*================== footer =================*/
.disable {
    display: none;
}
